<div class="container">
    <div class="game">
        <div>

        </div>

        <br>

        <form class="form-inline">
            <div class="form-group">
                <input class="form-control"
                       ng-model="main.playerName"
                       placeholder="What's your name?">
            </div>
            <button class="btn btn-primary"
                    ng-disabled="main.playerName.length === 0"
                    ng-click="main.startGame()">
                Start
            </button>
        </form>
        <hr>
        <div class="inital-state" ng-if="!main.gameStarted">
            <img src="assets/images/battleship.png">
        </div>
        <div ng-if="main.gameStarted">
            <game-grid class="board-ships"
                       grid="main.game.playerShipsBoard"
                       title="Your ships"
                       cell-click-handler="main.placeShips">
            </game-grid>
            <div class="controls">
                <h3>
                    Turn: {{main.game.playerTurn ? 'Player' : 'Computer'}}
                </h3>
                <div ng-if="main.isGameFinished()">
                    {{main.getWinner()}}
                    <button ng-click="main.playAgain()">Play Again</button>
                </div>
            </div>
            <game-grid class="board-shots"
                       grid="main.game.playerShotsBoard"
                       title="Your shots"
                       cell-click-handler="main.attackShips">
            </game-grid>
        </div>

    </div>
</div>
